// the style of the page will be witheld in these caticombs 

h1 {
  text-align: center;
  font-family: times;
}

.col-md-6 {
  background: linear-gradient(rgba(48, 110, 255, 1), rgba(48, 110, 255, .1));
}

.col-md-3 {
  background: linear-gradient(rgba(255, 167, 2, 1), rgba(255, 167, 2, .1));
}

.header {
  font-size: 50px;
  font-family: comic sans ms;
}

.secondH { 
  font-size: 35px;
  font-family: comic sans ms;
  text-align: center;
}
